h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}



.mainhead {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: red;
    text-align: center;
    margin-top: -25px;
    border-bottom: 1px solid red;
}

#subhead {
    font-size: 40px;
    margin-top: -30px;
}

.board {
    width: 474px;
    margin: 15px auto;
}

.cell {
    width: 150px;
    height: 150px;
    margin: 4px 4px;
    background-color: red;
    display: inline-block;
    float: left;
}

.xselected {
    background-color: blue;
}

.oselected {
    background-color: yellow;
}