/*================================================
Modal Dialog Box
================================================*/

.modalDialog {
    position: fixed;
    color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rbga(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog > div {
    width: 500px;
    position: relative;
    margin: 13.5% auto;
    padding: 5px 30px 13px 30px;
    background-color: #8E8C8F;
    box-shadow: 7px 7px 15px 0px rgba(56,56,56,0.75);
}

#invalidTurn > div {
    width: 225px;
    margin-top: 235px;
    padding-top: 10px;
    background-color: #D60000;
    text-align: center;
}

#invalidTurn h3 {
    font-weight: 300;
}

.modalDialog h2 {
    font-size: 24px;
    padding-bottom: 3px;
    border-bottom: 1px solid white;
}

.modalDialog p {
    font-weight: 300;
}

.visible {
    opacity: 1;
    pointer-events: auto;
}

.inputname {
    margin: 5px 0 0 5px;
    padding-left: 7px;
    color: black;
    font-weight: 400;
}

.inputname:focus {
    outline: 2px solid #D60000;
}

.close {
    background: #626263;
    color: #FFFFFF;
    font-weight: 300;
    border: none;
    outline: none;
    margin: 15px 0 0 5px;
    padding: 10px;
}

.close2 {
    background-color: #D60000;
    border: 2px inset #FFFFFF;
}

.close:hover { 
    background: #D60000;
}

.close2:hover {
    background: #FFFFFF;
    color: #D60000;
}

.hidemainpage {
    opacity: 0;
}

/*================================================
General Styles
================================================*/

body {
    font-family: "Open Sans", sans-serif;
    background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    -webkit-transition: opacity 1000ms ease-in;
    -moz-transition: opacity 1000ms ease-in;
    transition: opacity 1000ms ease-in;
}

/*================================================
Header
================================================*/

.mainhead {
    font-size: 20px;
    color: white;
    text-align: right;
    text-align: center;
    padding-bottom: 5px;
    background-color: #3A7282;
    opacity: 0.9;
}

.mainhead h1 {
    font-weight: 300;
}

/*================================================
Game Board
================================================*/

.board {
    width: 388px;
    height: 388px;
    margin: 50px auto 25px auto;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.8;
}

.cell {
    width: 123px;
    height: 123px;
    margin: 2px 2px;
    background-color: #F5F5F5;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    border: 1px solid #3A7282;
    border-radius: 20px;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.hover:hover {
    background-color: #3A7282;
}

.xselected {
    background-image: url("../images/x_color.svg");
}

.xwinner {
    background-image: url("../images/x_white_w_background.svg");
}

.oselected {
    background-image: url("../images/o_color.svg");
}

.owinner {
    background-image: url("../images/o_white_w_background.svg");
}

/*================================================
Score Info Section
================================================*/

.gameinfo {
    float: clear;
    width: 387px;
    border-top: 1px solid #3A7282;
    margin: 0 auto;
    font-size: 16px;
}

.scorebox {
    float: left;
    width: 33%;
    margin: 10px auto;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #3A7282;
}

.names h3 {
    font-weight: 400;
}

.playerturn {
    color: #D60000;
}

#score1, #score2, #score3 {
    font-weight: 300;
}

.yourturn {
    margin: 85px auto 0 auto;
    text-align: center;
    color: #D60000;
}

.yourturn h1 {
    font-weight: 300;
}
