<!DOCTYPE html>

<html ng-app="TttApp">
    <head>
        <title>ttt #ftw!</title>
        <link rel="icon" type="image/png" href="favicon.png">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body ng-controller="TTTController">
        <div id="openModal" class="modalDialog" ng-class="{visible: showModal}">
            <div>
                <h2>Welcome to ttt | #ftw!</h2>
                <p>Hi there! I didn't catch your names. Would you mind telling me?</p>
                <form>
                    <p>Player 1: <input class="inputname" type="text" placeholder="player one" ng-model="playerOne"></p>
                    <p>Player 2: <input class="inputname" type="text" placeholder="player two" ng-model="playerTwo"></p>
                    <input class="close" type="submit" value="Let's get started!" ng-click="hideModal()">
                </form>
            </div>    
        </div>
        <div class="wrapper" ng-class="{shrink: showModal}">
            <header class="mainhead">
                <h1>ttt | #ftw!</h1>
            </header>
            <div class="board">
                <div class="row" ng-repeat="cell in board">
                    <div class="cell" 
                        ng-click="setChoice(cell)"
                        ng-class="{hover: cell.owner == ''}">
                        <p ng-class="{xselected: cell.owner == 'X', oselected: cell.owner == 'O'}">{{cell.owner}}</p>
                    </div>
                </div>
            </div> 
            <div class="gameinfo">
                <div class="scorebox">
                    <h3 class="names">{{defaultNameOne()}}{{playerOne}}</h3>
                    <h3 id="score1">{{scoreBoard.xWins}}</h3>
                </div>
                <div class="scorebox">
                    <h3 class="names">Ties</h3>
                    <h3 id="score2">{{scoreBoard.ties}}</h3>
                </div>
                <div class="scorebox">
                    <h3 class="names">{{defaultNameTwo()}}{{playerTwo}}</h3>
                    <h3 id="score3">{{scoreBoard.oWins}}</h3>
                </div>
            </div>
       </div>
    </body>
</html>
